{% case media.media_type %}
  {% when 'image' %}
    <img
      src="{{ media | image_url }}"
      alt="{{ media.preview_image.alt }}"
      class="w-full h-full object-contain rounded-xl bg-gray-50 p-2 transition duration-300 hover:scale-105"
    >

  {% when 'external_video' %}
    <div class="w-full h-80 rounded-xl overflow-hidden bg-black shadow-sm">
      {{ media | external_video_tag: 'w-full h-full object-cover' }}
    </div>

  {% when 'video' %}
    <div class="w-full h-80 rounded-xl overflow-hidden bg-black shadow-sm">
      {{ media | video_tag: controls: true, class: 'w-full h-full object-cover' }}
    </div>

  {% when 'model' %}
    <div class="w-full h-80 rounded-xl overflow-hidden bg-gray-100 shadow-sm">
      {{ media | model_viewer_tag }}
    </div>

  {% else %}
    <div class="w-full h-80 flex items-center justify-center bg-gray-100 rounded-xl">
      {{ media | media_tag }}
    </div>
{% endcase %}
